@import "var";
@import "reset";

header
{
    background: $white;
    color: $black;
    text-align: right;
    padding: 2rem 3rem;
}

#head
{
    color: $black;
}

header > h4
{
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 400;
    letter-spacing: 5px;
}

.image-area > img
{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 3px solid $black;
    border-radius: 50%;
    transform: translateX(-1rem) translateY(3rem);
    padding: .8rem;
}

main
{
    display: flex;
    flex-wrap: wrap;
}

.main
{
    background: linear-gradient(rgba(31, 0, 82, 0.8), rgba(0, 0, 0, 0.9)), url(./mobile-bg.jpg);
    background-size: cover;
    background-position: center;
    color: $white;
    width: 75.6%;
    padding: 2rem 3rem;
}

h3
{
    margin: 3rem 0;
}

.sidebar
{
    background-color: rgb(31, 0, 82);
    color: $platinum;
    width: 24vw;
    padding: 2rem;
    text-align: right;
}

body > main > .sidebar > div.about
{
    margin-top: 5rem;
    padding: 1rem 0;
}

body > main > div.sidebar > h2
{
    margin: 3rem 0;
}

a
{
    text-decoration: none;
    color: $platinum;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 2px;
    line-height: 36px;
}

li
{
    line-height: 35px;
}

#SKILLS
{
    text-align: right;
    column-count: 2;
}

#dev
{
    font-size: .7rem;
}

#dev-tooltip
{
    display: none;
    background: rgba(255, 255, 255, 0.3);
    color: $platinum;
    font-size: .7rem;
    text-align: center;
    padding: 3px 2px;
    transition: 500ms ease-in-out;
}

@media screen and (max-width: 1000px) {

    
    .main, .sidebar 
    {
        width: 100vw;
    }

    .main > h3
    {
        word-wrap: normal;
        line-break: normal;
    }

    .image-area
    {
        display: none;
    }

    .sidebar
    {
        background: $black;
    }

    #dev-tooltip
    {
        background-color: $platinum;
        color: $black;
        display: block;
        margin-top: 5px;
    }
}